* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(190, 134, 167);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}
h1 {
  font-size: 40px;
  margin-bottom: 25px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}
.first {
  color: rgb(70, 2, 2);
}
#your-name {
  background-color: rgb(228, 125, 188);
  border: 5px solid rgb(180, 10, 76);
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}
a {
  background-color: wheat;
}
#google-image {
  width: 400px;
}
#your-name h2 {
  color: rgb(36, 133, 179);
}
